{% extends 'base.html' %}

{% block title %} Taks {% endblock %}

{% block body %}
    <div class="parent">
        <div class="header">
                <table class="theader">
                    <tr>
                        <td>
                            <h1 class="tittle">Tareas</h1>
                            <span> Bienvenido</span>
                        </td>
                        <td>
                            
                        </td>
                        <td class="profile">
                            <img src="../static/img/v215_389.png">
                            <div><h2>Jeison Estupiñán</h2>
                                <span>Administrador</span>
                            </div>
                        </td>
                    </tr>
                </table>
        </div>
        <div class="sidebar">
            <table class="tsidebar">
                <th>
                    <h2>AASRL</h2>
                </th>
                <tr>
                    <td class="dashop">
                        <a href="Dashboard"> <img src="../static/img/v215_343.png"></a>
                        <div>
                            <button class="button-menu" onclick="window.location.href='Dashboard'">Dashboard</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="dashop">
                        <a href="Servers"> <img src="../static/img/v215_346.png"></a>
                        <div>
                            <button class="button-menu" onclick="window.location.href='Servers'">Servidores</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="dashop">
                        <a href=""> <img src="../static/img/v215_349.png" class="task-icon"></a>
                        <div>
                            <button class="button-menu" onclick="window.location.href=''">Tareas</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="dashop">
                        <a href="#"> <img src="../static/img/v215_355.png" ></a>
                        <div>
                            <button class="button-menu" onclick="window.location.href='#'">C.Sesión</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="dashboard">Gráficas de Monitoreo</div>
        <div class="alerts">Alertas</div>
    </div>
        
{% endblock %}